html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: skyblue;
}

.header{
  background-color: maroon;
  display:flex;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

a{
  color: white;
  text-decoration: none;
  margin-right: 10px;
}


/* MAIN SECTION */


.main-image {
  max-width: 960px;
  margin: 0 auto;
  height: 30rem;
  padding-top: 1rem;
}



.main-image img {
  width: 30rem;
  margin: 5rem auto;
}
